{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Детали{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h2>{{ movie.title }}</h2>
            <p><strong>Год выпуска:</strong> {{ movie.release_year }}</p>
            <p><strong>Режиссер:</strong> {{ movie.director }}</p>
            <p><strong>Жанры:</strong>
                {% for genre in movie.genres.all %}
                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>Длительность:</strong> {{ movie.length }} мин.</p>
            <p><strong>Описание:</strong> {{ movie.description }}</p>
            <p><strong>Оригинальный рейтинг:</strong> {{ movie.original_rating }}</p>
            {% if movie.user_rating %}
            <p><strong>Пользовательский рейтинг:</strong> {{ movie.user_rating }}</p>
            {% endif %}
            {% if request.user.is_authenticated and request.user.is_staff %}
                <a class="nav-link" href="{% url 'movies:movie_edit' movie_slug=movie.slug %}">Редактировать</a>
            {% endif %}
        </div>
    </div>
</div>
<div>
    {% with reviews.count as review_count %}
        <h2>
            {{ review_count }} {% if review_count == 1 %}комментарий{% else %}комментариев{% endif %}
        </h2>
    {% endwith %}

    {% for review in reviews %}
        <div>
            <p>Автор: {{ review.user }}</p>
            <p>Комментарий: {{ review.text }}</p>
        </div>  
        {% if not forloop.last %}
            <hr>
        {% endif %}
        {% empty %}
            <p>Нет комментариев</p>
    {% endfor %}

</div>
    {% if request.user.is_authenticated %}       
        {% if not user_commented %}
            {% include 'movies/includes/review_form.html' %}
        {% else %}
            <p>Вы уже оставляли комментарий</p>
        {% endif %}
    {% endif %}
{% endblock %}